{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.name }}
{% endblock %}

{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rate_seller.css' %}">
{% block body %}

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
{% endif %}

<h2 class="listing-name">{{ listing.name }}</h2>

<div class="listing-img" >
  <img alt="{{ listing.name }} - img" src="{{ listing.image.url }}" />
</div>

<div class="bid-info">
  {% if bid %}
  Current Highest Bid: <strong style="color: var(--danger)">${{ bid.highest_bid }}</strong>
  <br>
  By: <span style="color: var(--warning)">{{ bid.user }}</span>
  <div class="text-muted">Bid added at {{ bid.added }}</div>
  <br><br>
  {% else %}
  <span style="color: var(--success)">
    No Bids Currently Placed
  </span>
  <br>
  Bids start from <strong style="color: var(--warning)">${{ listing.initial }}</strong>
  <br><br>
  {% endif %}
  <a class="btn btn-success" href="{% url 'bids:add_to' listing.id %}">Add to WatchList</a>
  {% if listing.user == user %}
  <br><br>
  <a class="btn btn-danger" href="{% url 'bids:close_listing' listing.id %}">Close Listing</a>
  {% endif %}
</div>
<hr>
{% if listing.user != user %}
<h5>Bid </h5>
<form class="login-form" action="{% url 'bids:bid' %}" method="POST">
  {% csrf_token %}
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text bg-warning">$</div>
    </div>
    <input class="form-control" type="number" min="1" name="bid" value="{{ default_bid }}" placeholder="Enter your bid here">
  </div>
  <input name="list_id" type="hidden" value="{{ listing.id }}" />
  <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Place Bid</button>
</form>
{% else %}
<div class="alert alert-info">
  Owner cannot bid on their own item.
</div>
{% endif %}
<hr>
<div class="listing-comments">
  <h5>Comments </h5>
  <div class="comment-container">
  {% if comments %}
    {% for comment in comments %}
    <div class="card bg-light border-success" style="margin: 5px;">
      <div class="comment-owner">
        {{ comment.user }}
      </div>
      <span class="comment-content">
        {{ comment.comment }}
      </span>
      <span class="text-muted" style="text-align: right; margin-right: 5px;">
        {{ comment.added }}
      </span>
    </div>
    {% endfor %}
  {% else %}
  <span class="text-muted">
    No comments at the moment
  </span>
  {% endif %}
  </div>
  <hr>
  <form class="comment-form" action="{% url 'bids:comment' %}" method="POST">
    Your Comment:
    {% csrf_token %}
    <textarea name="content" class="form-control" placeholder="enter your comment here" rows="3" maxlength="400"></textarea>
    <input name="list_id" type="hidden" value="{{ listing.id }}" />
    <button class="btn btn-primary" type="submit">Comment</button>
  </form>
</div>
<hr>
<div>
<h1>Rate Seller</h1>
<form id="rate-seller-form" method="post">
  {% csrf_token %}
  <label for="rating">Rating:</label>
  <div class="rating">
      <input type="radio" id="star5" name="rating" value="5" />
      <label for="star5" title="5 stars">☆</label>
      <input type="radio" id="star4" name="rating" value="4" />
      <label for="star4" title="4 stars">☆</label>
      <input type="radio" id="star3" name="rating" value="3" />
      <label for="star3" title="3 stars">☆</label>
      <input type="radio" id="star2" name="rating" value="2" />
      <label for="star2" title="2 stars">☆</label>
      <input type="radio" id="star1" name="rating" value="1" />
      <label for="star1" title="1 star">☆</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit Rating</button>
</form>
</div>

<script src="{% static 'auctions/rate_seller.js' %}"></script>

{% endblock %}
