{% extends "auctions/layout.html" %}
    {% block title %}
     <title>Rate Seller</title>
    {% endblock %}
     
    {% load static %}
{% block body %}

    <h1>Rate Seller</h1>
    <form id="rate-seller-form" method="post">
        {% csrf_token %}
        <label for="rating">Rating:</label>
        <select name="rating" id="rating">
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>
        <button type="submit">Submit Rating</button>
    </form>
  

<script src="{% static 'auctions/rate_seller.js' %}"></script>

{% endblock %}

